.section {
    margin-top: 100px;
    padding: 15px 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section__title {
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-weight: 500;
    display: block;
}

.section__subtitle {
    font-size: 36px;
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 45px;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 15px 20px;
        margin-top: 60px;
    }
    
    .section__subtitle {
        font-size: 28px;
        margin-bottom: 30px;
    }
}