


.sidebar__hamburger__translate {
    transform: translateX(-300px);
}

.sidebar {
    width: 300px;
    height: 100vh;
    background: #f2f3f7;
    position: fixed;
    top: 0;
    left: -300px;
    overflow-y: auto;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar--active {
    transform: translateX(300px);
}

.sidebar__hamburger__translate + .sidebar {
    transform: translateX(300px);
}

.sidebar__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.sidebar__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 5px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.sidebar__name {
    font-size: 22px;
    color: black;
    margin-bottom: 7.5px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.sidebar__job {
    font-size: 12px;
    font-weight: 600;
    color: #2c98f0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.sidebar__job > span {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    font-weight: 400;
    margin-top: 5px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    list-style: none;
}

.sidebar__list__item {
    width: 100%;
    text-align: center;
}

.sidebar__list__item a {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    font-weight: 500;
}

.sidebar__list__item a::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #2c98f0;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.3s;
}

.sidebar__list__item a:hover {
    color: #2c98f0;
}

.sidebar__list__item a:hover::after {
    width: 40px;
}

.sidebar__copyright {
    padding: 0 20px;
    margin-top: auto;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 12px;
    line-height: 1.8;
}

.sidebar__copyright > span {
    color: #2c98f0;
    font-weight: 600;
}

.sidebar__copyright i {
    color: #ec5453;
    margin: 0 5px;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    .sidebar__hamburger {
        display: none;
    }
    
    .sidebar {
        left: 0;
        transform: translateX(0) !important;
    }
    
    .sidebar--active {
        transform: translateX(0) !important;
    }
}